.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 300px);
  /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.school-marker {
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/free-school-1780863-1514178.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bus-stop-marker {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Icon-mode-bus-default.svg/2048px-Icon-mode-bus-default.svg.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hospital-marker {
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/free-hospital-1901774-1607973.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.train-station-marker {
  background-image: url("https://static.thenounproject.com/png/12542-200.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.shopping-mall-marker {
  background-image: url("https://cdn-icons-png.flaticon.com/512/4578/4578915.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}